.a {
    margin-top: 20px;
}
.nav-link {
    color: black;
}
.navka {
    background-color: #666;
}
.nav-item {
    padding-left: 100px;
    padding-right: 100px;
}
.d-flex {
    padding-right: 100px;
}
.top-banner {
    background-image: url("img/banner1.png");
}